@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
.frame {
  font-family: 'Open Sans';
  background: #E9EDEF;
  width: 400px;
  height: 400px;
  max-width: 100%;
  display: flex;
  justify-content: space-around; }

.plans {
  margin: 20px 25px;
  display: flex;
  justify-content: space-between; }

.plan {
  width: 32.4%;
  text-align: center;
  box-shadow: 1px 1px 10px gray;
  transform: scale(1);
  transition: transform .35s ease-out; }
  .plan .title {
    font-weight: bold;
    height: 30px;
    padding: 5px 15px;
    background: #7DD0ED;
    color: #FFF; }
  .plan .price {
    font-size: 2em;
    padding: 10px; }
    .plan .price span {
      font-size: .5em;
      display: block; }
  .plan:hover {
    transform: scale(1.3);
    z-index: 3; }
    .plan:hover .title {
      background: #27A6D2; }
    .plan:hover .price {
      color: #7DD0ED; }

.datas {
  margin: 10px 15px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 1px 1px 10px gray; }

.data {
  display: flex;
  flex-direction: column;
  margin: 10px 5px;
  width: 95%; }
  .data .text {
    margin-bottom: 5px;
    width: 100%; }
    .data .text .left {
      float: left; }
    .data .text .right {
      float: right; }

.line {
  width: 100%;
  height: 10px;
  background: #E9EDEF;
  border-radius: 40px; }
  .line .fill {
    height: 100%;
    width: 0%;
    background: #7DD0ED;
    border-radius: 40px; }
